.products .product-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.products .product-slider .wrapper{
    margin-top: 1rem;
}
.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.products .product-slider .box img{
    width: 23rem;
    height: 17rem;
}

.products .product-slider .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 5;
}

.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--orange);
    padding: .5rem 0;
}
.products .search{
    width: 20%;
    transform: scale(2);
    border-radius: 25px;
    border-color: var(--orange);
}
.products .search::placeholder{
    color: var(--orange);
    text-align: center;
}
.products .search:hover{
    width:40%;
    border-color: black;
}



@media screen and (max-width: 517px) {

    .products .product-slider {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
    .products .product-slider .wrapper{
        width: 179px;
        margin-right: 10px;
    }
    .products .product-slider .box{
        white-space: nowrap;

    }
    .products .product-slider .box img{
        width: 15rem;
    }
    .products .product-slider .box h3{
        font-size: 1.5rem;
    }
    .products .search{
        transform: scale(1.5);
        font-size: 16px;
    }
 
}